 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>

    <link  href={% static 'css/style.css' %} rel="stylesheet">
    <link rel="stylesheet" href={% static 'bootstrap-lib/css/bootstrap.min.css' %}>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <center>
                    <img class="banner" src="{% static 'images/banner02.jpeg' %}" alt="banner"/>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <center>
                    <ul class="nav flex-column">
                        <li><a class ="nav-link" href="{% url 'home' %}">Home</a></li>
                         <li><a class ="nav-link" href="#">About</a></li>
                         <li><a class ="nav-link" href="{% url 'blog' %}"> Blog </a></li>
                     </ul>  
                </center>                              
             </div>
             <div class="col-sm-9">
                   {% block content %}

                   {% endblock %}
             </div>
             <h1 class="test">Dev</h1>
        </div>
      </div>

    </div>


    <footer>
        <hr>
          <div class="container-fluid">
              <a href="#">Facebook</a> | <a href="#"> Email</a> | <a href="#">Website</a>
              <p> Copyright © </p> 
          </div>
      </footer>

</body>

</html>

